<article class="main-content post-page" itemscope itemtype="http://schema.org/Article">
    <div class="post-header">
        <h1 class="post-title" itemprop="name headline">
            {{ page.title }}</h1>
        <div class="post-data">
                <time datetime="{{ page.date | date: '%F'}}" itemprop="datePublished">{{ page.date | date: "%F"}}</time>
        </div>
    </div>
    <div id="post-content" class="post-content" itemprop="articleBody">
      <p class="post-tags">
      {% unless page.tags == empty %}
      {% assign tags_list = page.tags %}
      {% if tags_list.first[0] == null %}
      {% for tag in tags_list %} 
          <a href="/tags#{{ tag }}" title="Visit{{ tag }}" data-hover="{{ tag }}">
          {{ tag }} <span>({{ site.tags[tag].size }})</span>
          {% unless forloop.last %}{% endunless %}</a>
      {% endfor %}
      {% else %}
      {% for tag in tags_list %} 
          <a href="/tags#{{ tag[0] }}" title="Visit{{ tag[0] }}"  data-hover="{{ tag[0] }}">
            {{ tag[0] }} <span>({{ tag[1].size }})</span>
            {% unless forloop.last %}{% endunless %}
          </a>
      {% endfor %}
      {% endif %}
      {% assign tags_list = nil %}
      {% endunless %} 
      </p>
    {{ content }}
    </div>
</article>