<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
<div id="fade"></div>
<a id="slide" class="animated fade"></a>
<aside id="sidebar">
    <nav id="navigation">
    <h2>MENU</h2>
    <hr>
{% for link in site.links %}
            <li>{% if link.external %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                {% endif %} </li>
{% endfor %}
           <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>
    </nav>


</aside>
{% if page.imagefeature %}<header id="masthead" class="blog-background overlay align-center align-middle animated from-bottom"  style="background-image: url({{ site.url }}/images/{{ page.imagefeature }})" itemscope itemtype="http://schema.org/Organization">
{% else %}
<header id="masthead" class="blog-background overlay align-center align-middle animated from-bottom"  style="background-image: url({{ site.url }}/images/{{ site.default_bg }})" itemscope itemtype="http://schema.org/Organization">
{% endif %}
{% if site.search %}
    <button class="menu-button animated fade dosearch">
        <i class="icon-search"></i>
    </button>
{% endif %}
{% if site.description %}
    <div class="inner">
        <div class="container">
            <a class="brand light" href="{{ site.url }}" role="banner" itemprop="url">

                {% if site.logo %}<img itemprop="logo" src="{{ site.url }}/images/{{ site.logo }}" alt="{{ site.title }} Logo" />{% endif %}

            <h1 class="blog-title light" itemprop="name">
                {{ site.title }}
            </h1>

            </a>
            <h2 class="blog-description light bordered bordered-top" itemprop="description">
                {{ site.description }}
            </h2>
        </div>
    </div>
    {% else %}
    <div class="inner">
        <div class="container">
            <a class="brand" href="{{ site.url }}" role="banner" itemprop="url">

                    <img itemprop="logo" src="{{ site.url }}/images/{{ site.logo }}" alt="{{ site.title }} Logo" />

            <h1 class="blog-title light" itemprop="name">
                {{ site.title }}
            </h1>

            </a>
        </div>
    </div>
    {% endif %}
    {% if site.animated_fins and site.triangleheader %}
    <div class="decor-wrapper">
        <svg id="header-decor" class="decor bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path class="large left" d="M0 0 L50 50 L0 100" fill="rgba({{ site.fin_color }}, .1)"></path>
            <path class="large right" d="M100 0 L50 50 L100 100" fill="rgba({{ site.fin_color }}, .1)"></path>

            <path class="medium left" d="M0 100 L50 50 L0 33.3" fill="rgba({{ site.fin_color }}, .3)"></path>
            <path class="medium right" d="M100 100 L50 50 L100 33.3" fill="rgba({{ site.fin_color }}, .3)"></path>

            <path class="small left" d="M0 100 L50 50 L0 66.6" fill="rgba({{ site.fin_color }}, .5)"></path>
            <path class="small right" d="M100 100 L50 50 L100 66.6" fill="rgba({{ site.fin_color }}, .5)"></path>

            <path d="M0 99.9 L50 49.9 L100 99.9 L0 99.9" fill="rgba(255,255,255, 1)"></path>

            <path d="M48 52 L50 49 L52 52 L48 52" fill="rgba(255,255,255, 1)"></path>

        </svg>
    </div>
    {% else %}
    {% if site.triangleheader %}
    <div class="decor-wrapper">
        <svg id="header-decor" class="decor bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path d="M0 99.9 L50 49.9 L100 99.9 L0 99.9" fill="rgba(255,255,255, 1)"></path>

            <path d="M48 52 L50 49 L52 52 L48 52" fill="rgba(255,255,255, 1)"></path>

        </svg>
    </div>
    {% endif %}
    {% endif %}
</header>

{% if paginator.page == 1 %}
<div id="introduction" class="contnet" role="introduction">
	<div class="container">
		<div class="row">
		
        <h2 class="row-space-1 strong text-center">
          Check out what Sean Has Been Up To
        </h2>
        <p class='text-lead'>
          Discover my activities, past experiences, and the things that define me. Read about me here. Or, head over to http://gadgetreactor.github.io to see the things I dabble with when I am free and my musings on the technology scene in Singapore. 
        </p>
      </div>
<!--
      <div class="discovery-tiles row-space-top-6 row-space-6">
        <div class="homepage-module">
		
		<div class="carousel-item">
			<div class="col-lg-4 rm-padding-sm col-md-12">
			  <div class=" rm-padding-sm row-space-4 " style="background-image:url('https://a1.muscache.com/ic/discover/78?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=364cc1&amp;downsize=675px:675px');" sm-img-url="https://a1.muscache.com/ic/discover/78?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=364cc1&amp;downsize=675px:675px">
			<a href="/s/Kuala-Lumpur--Malaysia?source=ds" class="link-reset va-container" data-hook="discovery-card" data-id="Kuala Lumpur">
			<div class="text-center text-contrast va-container">
			  <div class="va-middle">
				  <div class="h2 strong">
					Kuala Lumpur
				  </div>
			  </div>
			</div>
			</a>
			</div>

			</div>
			<div class="col-lg-4 rm-padding-sm col-md-6">
			  <div class="discovery-card rm-padding-sm row-space-4 darken-on-hover " style="background-image:url('https://a2.muscache.com/ic/discover/173?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=285f77&amp;downsize=675px:675px');" sm-img-url="https://a2.muscache.com/ic/discover/173?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=285f77&amp;downsize=675px:675px">
			<a href="/s/Bangkok--Thailand?source=ds" class="link-reset va-container" data-hook="discovery-card" data-id="Bangkok">
			<div class="text-center text-contrast va-container">
			  <div class="va-middle">
				  <div class="h2 strong">
					Bangkok
				  </div>
			  </div>
			</div>
			</a>
		</div>

			</div>
			<div class="col-lg-4 rm-padding-sm col-md-6">
			  <div class="discovery-card rm-padding-sm row-space-4 darken-on-hover " style="background-image:url('https://a2.muscache.com/ic/discover/255?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=e46a5d&amp;downsize=675px:675px');" sm-img-url="https://a2.muscache.com/ic/discover/255?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=e46a5d&amp;downsize=675px:675px">
			<a href="/s/Ubud--Indonesia?source=ds" class="link-reset va-container" data-hook="discovery-card" data-id="Ubud">
			<div class="text-center text-contrast va-container">
			  <div class="va-middle">
				  <div class="h2 strong">
					Ubud
				  </div>
			  </div>
			</div>
			</a>
		</div>

			</div>
		</div>
				
		</div>
      </div>
    </div>

    <div class="page-container-responsive" id="discover-recommendations">
      <div class="section-intro text-center row-space-5 row-space-top-8">
        <h2 class="row-space-1 strong">
          Explore the World
        </h2>
        <p class='text-lead'>
          See where people are travelling, all around the world.
        </p>
      </div>
	</div>
-->
{% endif %}

<div id="main" class="content" role="main" itemprop="mainContentOfPage">
    <div class="container">
        <div class="row">
            <div class="page-body" itemprop="description">
            {{ content }}
            </div>
        </div>
    </div>
</div>
    {% include footer.html %}

{% include scripts.html %}
</body>
</html>
