{% assign is_post = page.date %}
<!DOCTYPE>
<html lang="zh-cn" data-scribe-reduced-action-queue="true">
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' name='title' />
    <meta content='{{ page.title }} - {{ site.title }}' name='og:title' />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
<body class="" gtools_scp_screen_capture_injected="true">
{% include header.html %}
{% include tags.html %}
{% include article.html %}
{% include footer.html %}
{% include scripts.html %} 
 </body>
</html>